Hello-world/*
!Hello-world/src
!Hello-world/headers
!Hello-world/tests
!Hello-world/main.cpp

Exercise-1/*
!Exercise-1/src
!Exercise-1/headers
!Exercise-1/tests
!Exercise-1/main.cpp
!Exercise-1/Cmake*

